.MuiOutlinedInput-notchedOutline {
    padding: 3!important;

    border-color: #814151 !important;
    border-radius: 15px !important;
  }
  
  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    /* padding: 21px 0px  4px !important; */
}

/* .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  color: #fff !important;
} */

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 21px 0px 4px !important;
}

/* #outlined-basic-label{
  color:#fff !important;
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  color: #fff !important;
}
.css-10hburv-MuiTypography-root {
 color: #fff !important;
 margin-left: 10px !important;
 
}
.css-6hp17o-MuiList-root-MuiMenu-list {
  background: grey !important;
} */

#noborder{
  border: 0.5px dashed black ;
  color:black;
  
  padding:12px;
}
@media (max-width: 768px) {
  /* Hide content on small screens */
  #container1 {
    display: none !important;
  }
}
#imageContainer {
  cursor: pointer;
  border: 2px solid #ddd;
  padding: 20px;
  text-align: center;
}

#uploadedImage {
  max-width: 100%;
  max-height: 200px;
  display: block;
  margin: 0 auto;
}

#uploadInput {
  display: none;
}